.container {
  margin-top: 20px;
  padding: 20px;
  background-color: #1e1e1e; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #f5f5f5;
}


.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}


.formGroup {
  margin-bottom: 1rem;
}


.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #d1d1d1;
}


.input {
  background-color: #2e2e2e;
  border: 1px solid #444; 
  padding: 10px;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.textarea {
  resize: none;
}

.submitButton {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #007bff; 
  border: none;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3; 
}

.select {
  background-color: #2e2e2e;
  border: 1px solid #444;
  color: #ffffff;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
}

.select:focus {
  outline: none;
  border-color: #007bff;
}

.fileInput {
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #2e2e2e;
  border: 1px solid #444;
  padding: 5px;
  border-radius: 4px;
}

.fileInput:focus {
  outline: none;
  border-color: #007bff;
}
